params {
    config_profile_description = 'Configuration profiles for execution of the nf-cmgg pipelines'
    config_profile_contact     = 'ict.cmgg@uzgent.be'
    config_profile_url         = 'https://github.com/nf-cmgg/configs'
}

plugins {
    id 'nf-cmgg@0.1.0'
    id 'nf-cgroup-metrics@1.0.1'
}
cmgg.samplesheets.enabled = true
cmgg.done.enabled         = true

// Include iGenomes config for reference genome paths
includeConfig !params.get("igenomes_ignore", false) ? "${params.custom_config_base}/conf/genome/igenomes.config" :  "${params.custom_config_base}/conf/genome/igenomes_ignore.config"

profiles {
    // Config for Ghent University object storage
    s3_ugent {
        includeConfig "${params.custom_config_base}/conf/pipeline/common/s3_ugent.config"
    }
}
