params {
    config_profile_description = 'Configuration profiles for execution of the nf-cmgg pipelines'
    config_profile_contact     = 'ict.cmgg@uzgent.be'
    config_profile_url         = 'https://github.com/nf-cmgg/configs'
}

// Include iGenomes config for reference genome paths
includeConfig "${params.custom_config_base}/conf/genome/igenomes.config"

profiles {
    // Config for Ghent University object storage
    s3_ugent {
        includeConfig "${params.custom_config_base}/conf/pipeline/common/s3_ugent.config"
    }
}