// This file defines a way to centralize the declaration of plugins. 
// Use this file with the `-c` option of `nextflow run` to ensure highest priority
// This file will check the plugins defined in the base nextflow.config file of the pipeline
// and use the versions specified there if available, otherwise the defaults will be used

// WARNING: This file should be manually downloaded to all relevant systems whenever it is updated
//          the `-c` option does not allow URLs to config files

params.default_plugins = {
    def pluginsFound = false
    def plugins = [:]
    def config = new java.io.File("${projectDir}/nextflow.config")
    if( config.exists() && config.isFile() ) {
        config.eachLine { line ->
            if (pluginsFound) {
                if (line.contains("}")) {
                    pluginsFound = false
                    return
                }
                def matcher = line =~ /id\s+["']([^"']+)@([^"']+)["']/
                if( matcher ) {
                    if (matcher[0].size() == 3) {
                        plugins[matcher[0][1]] = matcher[0][2]
                    }
                }
            }
            if (line ==~ /plugins\s*\{/) {
                pluginsFound = true
                return
            }
        }
    }
    return plugins
}.call()

plugins {
    id "nf-schema@${params.default_plugins['nf-schema'] ?: '2.8.0'}"
    id "nf-teams@${params.default_plugins['nf-teams'] ?: '0.2.0'}"
    id "nf-nomad@${params.default_plugins['nf-nomad'] ?: '0.4.1'}"
    id "nf-cgroup-metrics@${params.default_plugins['nf-cgroup-metrics'] ?: '1.0.1'}"
    id "nf-cmgg@${params.default_plugins['nf-cmgg'] ?: '0.4.1'}"
}