// This file defines a way to centralize the declaration of plugins. 
// Use this file with the `-c` option of `nextflow run` to ensure highest priority

// WARNING: This file should be manually downloaded to all relevant systems whenever it is updated
//          the `-c` option does not allow URLs to config files

plugins {
    id "nf-schema@${params.plugins?.nf_schema_version ?: '2.8.0'}"
    id "nf-teams@${params.plugins?.nf_teams_version ?: '0.2.0'}"
    id "nf-nomad@${params.plugins?.nf_nomad_version ?: '0.4.1'}"
    id "nf-cgroup-metrics@${params.plugins?.nf_cgroup_metrics_version ?: '1.0.1'}"
    id "nf-cmgg@${params.plugins?.nf_cmgg_version ?: '0.4.1'}"
}