profiles {
    "cmgg_slurm" {
        docker {
            enabled         = true
            runOptions      = "--platform linux/x86_64" 
        }

        params {
            config_profile_description  = 'CMGG Slurm config'
            config_profile_contact      = '@matthdsm'
            max_memory                  = 630.GB
            max_cpus                    = 75
            max_time                    = 72.h
        }
        process {
            executor = 'slurm'
            queue = 'debug'
            maxRetries = 2
            resourceLimits = [
                cpus: 80,
                memory: 630.GB,
                time: 72.h
            ]
        }

        report {
            overwrite = true
        }
    }
    "cmgg_nomad" {
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false

        params {
            config_profile_description  = 'CMGG Nomad job config'
            config_profile_contact      = '@matthdsm'
            max_memory                  = 288.GB
            max_cpus                    = 36
            max_time                    = 72.h
        }

        process {
            resourceLimits = [
                cpus: 36,
                memory: 288.GB,
                time: 72.h
            ]
        }
        executor {
            name          = 'local'
            cpus          = 36
            memory        = 288.GB
        }

        report {
            overwrite = true
        }
    }
    "cmgg_nfnomad" {
        params {
            config_profile_description  = 'CMGG nf-nomad job config'
            config_profile_contact      = '@matthdsm'
            max_memory                  = 630.GB
            max_cpus                    = 80
            max_time                    = 72.h
        }

        process {
            executor = "nomad"
            docker.enabled = true
            resourceLimits = [
                cpus: 80,
                memory: 630.GB,
                time: 72.h
            ]
        }

        workDir = "/scratch"

        executor {
            submitRateLimit = '60/1min'
        }

        nomad {
            client {
                address = System.getenv("NOMAD_ADDR")
                token   = System.getenv("NOMAD_TOKEN")
            }

            jobs {
                deleteOnCompletion = false
                namespace = System.getenv("NOMAD_NAMESPACE")
                datacenters = System.getenv("NOMAD_DC")

                volumes = [
                    { type "csi" name "nf_scratch_volume" path "/scratch"},
                    { type "csi" name "nf_reference_volume" path "/references" readOnly true},
                    { type "csi" name "nf_projects_volume" path "/projects"},
                    { type "csi" name "shares.isilon.ugent.be-cmgg_upload" path "/media/cmgg_upload" readOnly true},
                ]
            }
        }
    }
}
