/*
    * -------------------------------------------------
    *  nf-cmgg/preprocessing custom profile Nextflow config file
    * -------------------------------------------------
    * Config options for custom environments.
    * Cluster-specific config options should be saved
    * in the conf/pipeline/preprocessing folder and imported
    * under a profile name here.
    */

// Set default `genelist` path to the iGenomes gene list for GRCh38
params.genelists = "${params.genomes.GRCh38.genelists}"

profiles {
    // Process specific resource requirements for GCP Batch
    gcp {
        includeConfig "${params.custom_config_base}/conf/pipeline/common/gcp_base.config"
        includeConfig "${params.custom_config_base}/conf/pipeline/preprocessing/gcp.config"
    }
    // Analysis profiles
    WES {
        includeConfig "${params.custom_config_base}/conf/pipeline/preprocessing/wes.config"
    }
    copgt {
        includeConfig "${params.custom_config_base}/conf/pipeline/preprocessing/copgt-m.config"
    }
    sWGS {
        includeConfig "${params.custom_config_base}/conf/pipeline/preprocessing/swgs.config"
    }
    WGS {
        includeConfig "${params.custom_config_base}/conf/pipeline/preprocessing/wgs.config"
    }
    seqcap {
        includeConfig "${params.custom_config_base}/conf/pipeline/preprocessing/seqcap.config"
    }
}
