/*
    * -------------------------------------------------
    *  nf-cmgg/preprocessing custom profile Nextflow config file
    * -------------------------------------------------
    * Config options for custom environments.
    * Cluster-specific config options should be saved
    * in the conf/pipeline/preprocessing folder and imported
    * under a profile name here.
    */

params {
    config_profile_description = 'Configuration profiles for execution of the nf-cmgg/preprocessing pipeline'
    config_profile_contact     = 'ict.cmgg@uzgent.be'
    config_profile_url         = 'https://github.com/nf-cmgg/configs'
}

// Include iGenomes config for reference genome paths
includeConfig "${params.custom_config_base}/conf/genome/igenomes.config"

// Set default `genelist` path to the iGenomes gene list for GRCh38
params.genelists = "${params.genomes.GRCh38.genelists}"

profiles {
    // Config for Ghent University object storage
    s3_ugent {
        includeConfig "${params.custom_config_base}/conf/pipeline/common/s3_ugent.config"
    }
    // Process specific resource requirements for GCP Batch
    gcp {
        includeConfig "${params.custom_config_base}/conf/pipeline/common/gcp_base.config"
        includeConfig "${params.custom_config_base}/conf/pipeline/preprocessing/gcp.config"
    }
    // Analysis profiles
    WES {
        includeConfig "${params.custom_config_base}/conf/pipeline/preprocessing/wes.config"
    }
    copgt {
        includeConfig "${params.custom_config_base}/conf/pipeline/preprocessing/copgt-m.config"
    }
    sWGS {
        includeConfig "${params.custom_config_base}/conf/pipeline/preprocessing/swgs.config"
    }
    WGS {
        includeConfig "${params.custom_config_base}/conf/pipeline/preprocessing/wgs.config"
    }
    seqcap {
        includeConfig "${params.custom_config_base}/conf/pipeline/preprocessing/seqcap.config"
    }
}
