/*
    * -------------------------------------------------
    *  nf-cmgg/smallvariants custom profile Nextflow config file
    * -------------------------------------------------
    * Config options for custom environments.
    * Cluster-specific config options should be saved
    * in the conf/pipeline/smallvariants folder and imported
    * under a profile name here.
    */

// Support legacy location of smallvariants-specific "genomes" config
// TODO: remove this fallback after updating all smallvariants configs to point to the iGenomes config
includeConfig params.genomes_base ? "${params.custom_config_base}/conf/Hsapiens/genomes.config" : "/dev/null"

profiles {
    // Process specific resource requirements for GCP Batch
    gcp {
        includeConfig "${params.custom_config_base}/conf/pipeline/common/gcp_base.config"
        includeConfig "${params.custom_config_base}/conf/pipeline/smallvariants/gcp.config"
    }
    // Analysis profiles
    copgt {
        includeConfig "${params.custom_config_base}/conf/pipeline/smallvariants/copgt.config"
    }
    copgt_joint {
        includeConfig "${params.custom_config_base}/conf/pipeline/smallvariants/copgt_joint.config"
    }
    hypercap {
        includeConfig "${params.custom_config_base}/conf/pipeline/smallvariants/hypercap.config"
    }
    seqcap {
        includeConfig "${params.custom_config_base}/conf/pipeline/smallvariants/seqcap.config"
    }
    seqplorer {
        includeConfig "${params.custom_config_base}/conf/pipeline/smallvariants/seqplorer.config"
    }
    wes {
        includeConfig "${params.custom_config_base}/conf/pipeline/smallvariants/wes.config"
    }
    wgs {
        includeConfig "${params.custom_config_base}/conf/pipeline/smallvariants/wgs.config"
    }
}
