/*
    * -------------------------------------------------
    *  nf-cmgg/smallvariants custom profile Nextflow config file
    * -------------------------------------------------
    * Config options for custom environments.
    * Cluster-specific config options should be saved
    * in the conf/pipeline/smallvariants folder and imported
    * under a profile name here.
    */

params {
    config_profile_description = 'Configuration profiles for execution of the nf-cmgg/smallvariants pipeline'
    config_profile_contact     = 'ict.cmgg@uzgent.be'
    config_profile_url         = 'https://github.com/nf-cmgg/configs'
}

// Include iGenomes config for reference genome paths
includeConfig "${params.custom_config_base}/conf/genome/igenomes.config"

// Support legacy location of smallvariants-specific "genomes" config
// TODO: remove this fallback after updating all smallvariants configs to point to the iGenomes config
includeConfig params.genomes_base ? "${params.custom_config_base}/conf/Hsapiens/genomes.config" : "/dev/null"

profiles {
    // Config for Ghent University object storage
    s3_ugent {
        includeConfig "${params.custom_config_base}/conf/pipeline/common/s3_ugent.config"
    }
    // Process specific resource requirements for GCP Batch
    gcp {
        includeConfig "${params.custom_config_base}/conf/pipeline/common/gcp_base.config"
        includeConfig "${params.custom_config_base}/conf/pipeline/smallvariants/gcp.config"
    }
    // Analysis profiles
    copgt {
        includeConfig "${params.custom_config_base}/conf/pipeline/smallvariants/copgt.config"
    }
    copgt_joint {
        includeConfig "${params.custom_config_base}/conf/pipeline/smallvariants/copgt_joint.config"
    }
    hypercap {
        includeConfig "${params.custom_config_base}/conf/pipeline/smallvariants/hypercap.config"
    }
    seqcap {
        includeConfig "${params.custom_config_base}/conf/pipeline/smallvariants/seqcap.config"
    }
    seqplorer {
        includeConfig "${params.custom_config_base}/conf/pipeline/smallvariants/seqplorer.config"
    }
    wes {
        includeConfig "${params.custom_config_base}/conf/pipeline/smallvariants/wes.config"
    }
    wgs {
        includeConfig "${params.custom_config_base}/conf/pipeline/smallvariants/wgs.config"
    }
}
