/*
    * -------------------------------------------------
    *  nf-cmgg/structural custom profile Nextflow config file
    * -------------------------------------------------
    * Config options for custom environments.
    * Cluster-specific config options should be saved
    * in the conf/pipeline/structural folder and imported
    * under a profile name here.
    */

params {
    config_profile_description = 'Configuration profiles for execution of the nf-cmgg/structural pipeline'
    config_profile_contact = 'ict.cmgg@uzgent.be'
    config_profile_url = 'https://github.com/nf-cmgg/configs'
}

// Include iGenomes config for reference genome paths
includeConfig "${params.cmgg_custom_config_base}/conf/genome/igenomes.config"

profiles {
    // Config for Ghent University object storage
    s3_ugent {
        includeConfig "${params.cmgg_custom_config_base}/conf/pipeline/common/s3_ugent.config"
    }
    // Process specific resource requirements for GCP Batch
    gcp {
        includeConfig "${params.cmgg_custom_config_base}/conf/pipeline/common/gcp_base.config"
        includeConfig "${params.cmgg_custom_config_base}/conf/pipeline/structural/gcp.config"
    }
    // Analysis profiles
    // TODO: placeholder for analysis profiles
}