/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining per module options for execution of the pipeline on GCP Batch.
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
process {
    beforeScript = 'ulimit -n 262144'
    withName: FUSIONCATCHER_FUSIONCATCHER {
        machineType = 'template://gen-nfbatch-dev-xlarge'
    }
    withName: GATK4_MARKDUPLICATES {
        errorStrategy = 'retry'
        maxErrors = 2
        machineType = { task.attempt == 1 ? 'template://gen-nfbatch-dev-medium' : 'template://gen-nfbatch-dev-large' }
    }
}
