/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining per module options for execution of the pipeline on GCP Batch.
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
process {
    beforeScript = 'ulimit -n 262144'
    withName: FUSIONCATCHER_FUSIONCATCHER {
        machineType = 'template://gen-nfbatch-dev-xlarge'
    }
}
