/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for local genomes paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines reference genomes using genome paths.
    Can be used by any config that customises the base path using:
        $params.genomes_base / --genomes_base
----------------------------------------------------------------------------------------
*/

// UGent iGenomes: 
// s3://reference-data/genomes

params {
    genomes {
        "GRCh38" {
            // Genome reference
            fai                 = "${params.genomes_base}/Hsapiens/GRCh38/seq/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set.fna.fai"
            fasta               = "${params.genomes_base}/Hsapiens/GRCh38/seq/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set.fna"
            dict                = "${params.genomes_base}/Hsapiens/GRCh38/seq/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set.dict"

            // Aligner reference
            bowtie2             = "${params.genomes_base}/Hsapiens/GRCh38/bowtie2/"
            bwa                 = "${params.genomes_base}/Hsapiens/GRCh38/bwa/"
            bwamem2             = "${params.genomes_base}/Hsapiens/GRCh38/bwamem2/"
            dragmap             = "${params.genomes_base}/Hsapiens/GRCh38/dragmap/"
            snap                = "${params.genomes_base}/Hsapiens/GRCh38/snapaligner/"

            // Region files
            // TODO: Add region files
            coPGT_target        = "${params.genomes_base}/Hsapiens/GRCh38/regions/CMGG_coPGT-M_analysis_ROI_v1.bed"
            wes_target          = "${params.genomes_base}/Hsapiens/GRCh38/regions/CMGG_WES_analysis_ROI_v5.bed"

            // Annotation files
            //// VCFanno
            vcfanno_toml        = "${params.cmgg_config_base}/conf/Hsapiens/vcfanno/cmgg_vcfanno.toml"
            vcfanno_resources   = "${params.genomes_base}/Hsapiens/GRCh38/variation/**/[!AnnotSV][!spliceAI][!EoG][!mastermind]*.{gz,tbi,csi};${params.genomes_base}/Hsapiens/GRCh38/variation/**/**/*.{gz,tbi,csi};${params.genomes_base}/Hsapiens/GRCh38/variation/**/**/**/*.{gz,tbi,csi}"

            //// ClinVar
            clinvar             = "${params.genomes_base}/Hsapiens/GRCh38/variation/clinvar/clinvar_20221119.vcf.gz"
            clinvar_tbi         = "${params.genomes_base}/Hsapiens/GRCh38/variation/clinvar/clinvar_20221119.vcf.gz.tbi"
            
            //// dbSNP
            dbsnp               = "${params.genomes_base}/Hsapiens/GRCh38/variation/dbSNP/155/dbsnp-155.vcf.gz"
            dbsnp_tbi           = "${params.genomes_base}/Hsapiens/GRCh38/variation/dbSNP/155/dbsnp-155.vcf.gz.tbi"
            dbsnp_csi           = "${params.genomes_base}/Hsapiens/GRCh38/variation/dbSNP/155/dbsnp-155.vcf.gz.csi"
            
            //// dbNSFP
            dbnsfp              = "${params.genomes_base}/Hsapiens/GRCh38/variation/dbNSFP-4.3/dbNSFP4.3a_grch38.gz"
            dbnsfp_tbi          = "${params.genomes_base}/Hsapiens/GRCh38/variation/dbNSFP-4.3/dbNSFP4.3a_grch38.gz.csi"
            
            //// dbSCSNV
            dbscsnv             = "${params.genomes_base}/Hsapiens/GRCh38/variation/dbscSNV-1.1/dbscSNV.txt.gz"
            dbscsnv_tbi         = "${params.genomes_base}/Hsapiens/GRCh38/variation/dbscSNV-1.1/dbscSNV.txt.gz.tbi"
            
            //// EOG
            eog                 = "${params.genomes_base}/Hsapiens/GRCh38/variation/EoG/EOG_202008_sites-only.vcf.gz"
            eog_tbi             = "${params.genomes_base}/Hsapiens/GRCh38/variation/EoG/EOG_202008_sites-only.vcf.gz.tbi"
            
            //// GATK
            strtablefile        = "${params.genomes_base}/Hsapiens/GRCh38/gatk4/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set.strtable.zip"
            
            //// gnomAD
            gnomad_genomes      = "${params.genomes_base}/Hsapiens/GRCh38/variation/gnomAD/genomes/r3.1.2/gnomad_genomes.vcf.gz"
            gnomad_genomes_tbi  = "${params.genomes_base}/Hsapiens/GRCh38/variation/gnomAD/genomes/r3.1.2/gnomad_genomes.vcf.gz.csi"
            gnomad_exomes       = "${params.genomes_base}/Hsapiens/GRCh38/variation/gnomAD/exomes/r2.2.1/gnomad_exomes.vcf.gz"
            gnomad_exomes_tbi   = "${params.genomes_base}/Hsapiens/GRCh38/variation/gnomAD/exomes/r2.2.1/gnomad_exomes.vcf.gz.csi"
            
            //// MasterMind
            mastermind          = "${params.genomes_base}/Hsapiens/GRCh38/variation/mastermind/mastermind_cited_variants_reference-2021.10.12-grch38.vcf.gz"
            mastermind_tbi      = "${params.genomes_base}/Hsapiens/GRCh38/variation/mastermind/mastermind_cited_variants_reference-2021.10.12-grch38.vcf.gz.tbi"
            
            //// SpliceAI
            spliceai_indel      = "${params.genomes_base}/Hsapiens/GRCh38/variation/spliceAI/spliceai_scores.raw.indel.hg38.vcf.gz"
            spliceai_indel_tbi  = "${params.genomes_base}/Hsapiens/GRCh38/variation/spliceAI/spliceai_scores.raw.indel.hg38.vcf.gz.tbi"
            spliceai_snv        = "${params.genomes_base}/Hsapiens/GRCh38/variation/spliceAI/spliceai_scores.raw.snv.hg38.vcf.gz"
            spliceai_snv_tbi    = "${params.genomes_base}/Hsapiens/GRCh38/variation/spliceAI/spliceai_scores.raw.snv.hg38.vcf.gz.tbi"
            
            //// VCFanno config
            vcfanno_toml        = "${params.cmgg_config_base}/conf/Hsapiens/vcfanno/cmgg_vcfanno.toml"
            
            //// VEP
            vep_cache           = "${params.genomes_base}/Hsapiens/GRCh38/vep"
            
            //// AnnotSV annotation
            annotsv_annotations = "${params.genomes_base}/Hsapiens/GRCh38/variation/AnnotSV/AnnotSV-3.3.4.tar.gz"
            
            // Validation reference
            sdf                 = "${params.genomes_base}/Hsapiens/GRCh38/validation/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set_sdf.tar.gz"
            
            // ExpansionHunter variant catalogue
            expansionhunter_catalogue = "${params.genomes_base}/Hsapiens/GRCh38/variation/ExpansionHunter/variant_catalog.json"

            // qDNAseq references
            qdnaseq_male_5kbp     = "${params.genomes_base}/Hsapiens/GRCh38/qdnaseq/GRCh38.male.5kbp.rda"
            qdnaseq_male_50kbp    = "${params.genomes_base}/Hsapiens/GRCh38/qdnaseq/GRCh38.male.50kbp.rda"
            qdnaseq_male_100kbp   = "${params.genomes_base}/Hsapiens/GRCh38/qdnaseq/GRCh38.male.100kbp.rda"
            qdnaseq_male_500kbp   = "${params.genomes_base}/Hsapiens/GRCh38/qdnaseq/GRCh38.male.500kbp.rda"
            qdnaseq_female_5kbp   = "${params.genomes_base}/Hsapiens/GRCh38/qdnaseq/GRCh38.female.5kbp.rda"
            qdnaseq_female_50kbp  = "${params.genomes_base}/Hsapiens/GRCh38/qdnaseq/GRCh38.female.50kbp.rda"
            qdnaseq_female_100kbp = "${params.genomes_base}/Hsapiens/GRCh38/qdnaseq/GRCh38.female.100kbp.rda"
            qdnaseq_female_500kbp = "${params.genomes_base}/Hsapiens/GRCh38/qdnaseq/GRCh38.female.500kbp.rda"

            // WisecondorX reference
            wisecondorx_reference = "${params.genomes_base}/Hsapiens/GRCh38/wisecondorx/WisecondorX_22092023_100kbp.npz"

            // HapMap
            hapmap                = "${params.genomes_base}/Hsapiens/GRCh38/variation/hapmap/hapmap_3.3.hg38.vcf.gz"
            hapmap_tbi            = "${params.genomes_base}/Hsapiens/GRCh38/variation/hapmap/hapmap_3.3.hg38.vcf.gz.tbi"

            // 1000 Genomes
            1000G_omni            = "${params.genomes_base}/Hsapiens/GRCh38/variation/1000g/omni/1000G_omni2.5.hg38.vcf.gz"
            1000G_omni_tbi        = "${params.genomes_base}/Hsapiens/GRCh38/variation/1000g/omni/1000G_omni2.5.hg38.vcf.gz.tbi"
            1000G_snps            = "${params.genomes_base}/Hsapiens/GRCh38/variation/1000g/snps/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
            1000G_snps_tbi        = "${params.genomes_base}/Hsapiens/GRCh38/variation/1000g/snps/1000G_phase1.snps.high_confidence.hg38.vcf.gz.tbi" 

        }
        "GRCh38-noalt" {
            // Genome reference
            fai                 = "${params.genomes_base}/Hsapiens/GRCh38-noalt/seq/GCA_000001405.15_GRCh38_no_alt_plus_hs38d1_analysis_set.fna.fai"
            fasta               = "${params.genomes_base}/Hsapiens/GRCh38-noalt/seq/GCA_000001405.15_GRCh38_no_alt_plus_hs38d1_analysis_set.fna.fna"
            dict                = "${params.genomes_base}/Hsapiens/GRCh38-noalt/seq/GCA_000001405.15_GRCh38_no_alt_plus_hs38d1_analysis_set.fna.dict"

            // Aligner reference
            bowtie2             = "${params.genomes_base}/Hsapiens/GRCh38-noalt/bowtie2/"
            bwa                 = "${params.genomes_base}/Hsapiens/GRCh38-noalt/bwa/"
            bwamem2             = "${params.genomes_base}/Hsapiens/GRCh38-noalt/bwamem2/"
            dragmap             = "${params.genomes_base}/Hsapiens/GRCh38-noalt/dragmap/"
            snap                = "${params.genomes_base}/Hsapiens/GRCh38-noalt/snapaligner/"

            // WCX references
            wisecondorx         = "${params.genomes_base}/Hsapiens/GRCh38-noalt/wisecondorx/"
        }
        // Legacy bcbio references
        "hg38" {
            bowtie2             = "${params.genomes_base}/Hsapiens/hg38/bowtie2/"
            bwa                 = "${params.genomes_base}/Hsapiens/hg38/bwa/"
            bwamem2             = "${params.genomes_base}/Hsapiens/hg38/bwamem2/"
            dragmap             = "${params.genomes_base}/Hsapiens/hg38/dragmap/"
            fai                 = "${params.genomes_base}/Hsapiens/hg38/seq/hg38.fa.fai"
            fasta               = "${params.genomes_base}/Hsapiens/hg38/seq/hg38.fa"
            dict                = "${params.genomes_base}/Hsapiens/hg38/seq/hg38.dict"
            snap                = "${params.genomes_base}/Hsapiens/hg38/snapaligner/"

            // Annotation files
            //// ClinVar
            clinvar             = "${params.genomes_base}/Hsapiens/hg38/variation/clinvar.vcf.gz"
            clinvar_tbi         = "${params.genomes_base}/Hsapiens/hg38/variation/clinvar.vcf.gz.tbi"
            
            //// dbSNP
            dbsnp               = "${params.genomes_base}/Hsapiens/hg38/variation/dbsnp-153.vcf.gz"
            dbsnp_tbi           = "${params.genomes_base}/Hsapiens/hg38/variation/dbsnp-153.vcf.gz.tbi"
            dbsnp_csi           = "${params.genomes_base}/Hsapiens/hg38/variation/dbsnp-153.vcf.gz.csi"
            
            //// dbNSFP
            dbnsfp              = "${params.genomes_base}/Hsapiens/hg38/variation/dbNSFP.txt.gz"
            dbnsfp_tbi          = "${params.genomes_base}/Hsapiens/hg38/variation/dbNSFP.txt.gz.tbi"
            
            //// dbSCSNV
            dbscsnv             = "${params.genomes_base}/Hsapiens/hg38/variation/dbscSNV.txt.gz"
            dbscsnv_tbi         = "${params.genomes_base}/Hsapiens/hg38/variation/dbscSNV.txt.gz.tbi"
            
            //// EOG
            eog                 = "${params.genomes_base}/Hsapiens/hg38/variation/EOG_202008_sites-only.vcf.gz"
            eog_tbi             = "${params.genomes_base}/Hsapiens/hg38/variation/EOG_202008_sites-only.vcf.gz.tbi"
            
            //// gnomAD
            gnomad_exomes       = "${params.genomes_base}/Hsapiens/hg38/variation/gnomad_exome.vcf.gz"
            gnomad_exomes_tbi   = "${params.genomes_base}/Hsapiens/hg38/variation/gnomad_exome.vcf.gz.tbi"
            
            //// MasterMind
            mastermind          = "${params.genomes_base}/Hsapiens/hg38/variation/Mastermind/mastermind_cited_variants_reference-2022.01.06-grch38.vcf.gz"
            mastermind_tbi      = "${params.genomes_base}/Hsapiens/hg38/variation/Mastermind/mastermind_cited_variants_reference-2022.01.06-grch38.vcf.gz.tbi"
            
            //// SpliceAI
            spliceai_indel      = "${params.genomes_base}/Hsapiens/hg38/variation/spliceAI/spliceai_scores.raw.indel.hg38.vcf.gz"
            spliceai_indel_tbi  = "${params.genomes_base}/Hsapiens/hg38/variation/spliceAI/spliceai_scores.raw.indel.hg38.vcf.gz.tbi"
            spliceai_snv        = "${params.genomes_base}/Hsapiens/hg38/variation/spliceAI/spliceai_scores.raw.snv.hg38.vcf.gz"
            spliceai_snv_tbi    = "${params.genomes_base}/Hsapiens/hg38/variation/spliceAI/spliceai_scores.raw.snv.hg38.vcf.gz.tbi"
            
            //// VCFanno config
            vcfanno_toml        = "${params.cmgg_config_base}/conf/Hsapiens/vcfanno/cmgg_vcfanno.toml"
            
            //// VEP
            vep_cache           = "${params.genomes_base}/Hsapiens/hg38/vep"
            
            // ExpansionHunter variant catalogue
            expansionhunter_catalogue = "${params.genomes_base}/Hsapiens/hg38/variation/ExpansionHunter/variant_catalog.json"
        }
        "hg38-noalt" {
            bowtie2             = "${params.genomes_base}/Hsapiens/hg38-noalt/bowtie2/"
            bwa                 = "${params.genomes_base}/Hsapiens/hg38-noalt/bwa/"
            bwamem2             = "${params.genomes_base}/Hsapiens/hg38-noalt/bwamem2/"
            dragmap             = "${params.genomes_base}/Hsapiens/hg38-noalt/dragmap/"
            fai                 = "${params.genomes_base}/Hsapiens/hg38-noalt/seq/hg38-noalt.fa.fai"
            fasta               = "${params.genomes_base}/Hsapiens/hg38-noalt/seq/hg38-noalt.fa"
            dict                = "${params.genomes_base}/Hsapiens/hg38-noalt/seq/hg38-noalt.dict"
            snap                = "${params.genomes_base}/Hsapiens/hg38-noalt/snapaligner/"
        }
    }
}

aws {
    client {
        endpoint = "https://s3.ugent.be"
        protocol = "https"
        s3PathStyleAccess = true
        connectionTimeout = 60000
    }
}
