aws {
    maxErrorRetry = 3
}

cleanup = true

docker {
    enabled         = true
    userEmulation   = true
    runOptions      = "--platform linux/x86_64"
}

params {
    config_profile_description  = 'CMGG Slurm config'
    config_profile_contact      = '@matthdsm'
    max_memory                  = 64.GB
    max_cpus                    = 8
    max_time                    = 72.h
}
process {
    stageInMode = "symlink"
    stageOutMode = "rsync"
    executor = 'slurm'
    queue = 'normal'
    maxRetries = 2
    scratch = '/scratch/nextflow/scratch'
}
report {
    overwrite = true
}

workDir = '/scratch/nextflow/work'