/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-cmgg Nextflow base config file with modiified resource requirements for GCP Batch
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    executor      = 'google-batch'
    // tentative fix for `cannot stat` error
    // https://github.com/nextflow-io/nextflow/issues/6213#issuecomment-3173533808
    stageOutMode  = 'copy'

    cpus          = { 1 * task.attempt }
    memory        = { 8.GB * task.attempt }
    time          = { 4.h * task.attempt }
    machineType   = 'template://gen-nfbatch-dev-small'
    // e2-standard-4

    errorStrategy = { task.exitStatus in ((130..145) + 104 + 175 + 50001 + 50002 + 50003 + 50004 + 50005 + 50006) ? 'retry' : 'finish' }
    maxRetries    = 5
    time          = 24.h
    maxErrors     = '-1'

    // Process-specific resource requirements
    withLabel: process_single {
        machineType = 'template://gen-nfbatch-dev-small'
        // e2-standard-4
        cpus        = { 1 }
        memory      = { 8.GB * task.attempt }
        time        = { 4.h * task.attempt }
    }
    withLabel: process_low {
        machineType = 'template://gen-nfbatch-dev-small'
        // e2-standard-4
        cpus        = { 2 * task.attempt }
        memory      = { 16.GB * task.attempt }
        time        = { 4.h * task.attempt }
    }
    withLabel: process_medium {
        machineType = 'template://gen-nfbatch-dev-medium'
        // n2-highmem-8
        cpus        = { 8 * task.attempt }
        memory      = { 64.GB * task.attempt }
        time        = { 8.h * task.attempt }
    }
    withLabel: process_high {
        machineType = 'template://gen-nfbatch-dev-large'
        // n2-highmem-16
        cpus        = { 16 * task.attempt }
        memory      = { 128.GB * task.attempt }
        time        = { 16.h * task.attempt }
    }
    withLabel: process_long {
        time = { 20.h * task.attempt }
    }
    withLabel: error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel: error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
    withLabel: process_gpu {
        ext.use_gpu = { workflow.profile.contains('gpu') }
        accelerator = { workflow.profile.contains('gpu') ? 1 : null }
    }
}

executor {
    name    = 'google-batch'
    jobName = {
        def taskName = "${task.name[task.name.lastIndexOf(":") + 1..task.name.lastIndexOf(" ") ?: -1].toLowerCase().replaceAll('[ \\(\\)]', '').replaceAll('_', '-')}"
        def time = new java.util.Date().format('yyyy-MM-dd-HH-mm-ss')
        def hashName = "${task.hash[0..10]}"
        if (taskName.size() > 30) {
            def diff = taskName.size() - 30
            taskName = taskName[diff..taskName.size()]
        }
        return "${taskName}-${hashName}-${time}"
    }
}
