process {
    executor = "nomad"
    resourceLimits = [
        cpus: 80,
        memory: 630.GB,
        time: 72.h
    ]
    nomadOptions = [
        volumes: [
            [type:"host", name:"scratch", path:"/scratch"],
            [type:"host", name:"references", path:"/references", readOnly:true],
            [type:"host", name:"projects", path:"/projects"],
            [type:"csi", name:"shares.isilon.ugent.be-cmgg_upload", path:"/media/cmgg_upload", readOnly:true]
        ]
    ]
}

workDir = "/scratch"

executor {
    submitRateLimit = '20/1min'
    queueSize = 150
}

nomad {
    enabled = true
    client {
        address = System.getenv("NOMAD_ADDR")
        token   = System.getenv("NOMAD_TOKEN")
        submitThrottle = '1s'
    }
    jobs {
        cleanup = 'onSuccess'
        privileged = true
        namespace = System.getenv("NOMAD_NAMESPACE")
        datacenters = [System.getenv("NOMAD_DC")]
    }
}


process {
    withName: '.*BCLCONVERT' {
        beforeScript = "ulimit -n 720000"
    }
}
