plugins {
    id 'nf-nomad@0.4.0-edge4'
}

process {
    executor = "nomad"
    resourceLimits = [
        cpus: 80,
        memory: 630.GB,
        time: 72.h
    ]
    nomadOptions = [
        volumes: [
            [type:"csi", name:"nf_scratch_volume", path:"/scratch"],
            [type:"csi", name:"nf_reference_volume", path:"/references", readOnly:true],
            [type:"csi", name:"nf_projects_volume", path:"/projects"],
            [type:"csi", name:"shares.isilon.ugent.be-cmgg_upload", path:"/media/cmgg_upload", readOnly:true]
        ]
    ]
}

workDir = "/scratch"

executor {
    submitRateLimit = '20/1min'
    queueSize = 150
}

nomad {
    client {
        address = System.getenv("NOMAD_ADDR")
        token   = System.getenv("NOMAD_TOKEN")
        submitThrottle = '1s'
    }
    jobs {
        cleanup = 'onSuccess'
        privileged = true
        namespace = System.getenv("NOMAD_NAMESPACE")
        datacenters = [System.getenv("NOMAD_DC")]
    }
}