plugins {
    id 'nf-nomad@0.3.0'
}

process {
    executor = "nomad"
    docker.enabled = true
    resourceLimits = [
        cpus: 80,
        memory: 630.GB,
        time: 72.h
    ]
}
workDir = "/scratch"
executor {
    submitRateLimit = '60/1min'
    queueSize = 150
}
nomad {
    client {
        address = System.getenv("NOMAD_ADDR")
        token   = System.getenv("NOMAD_TOKEN")
    }
    jobs {
        deleteOnCompletion = false
        namespace = System.getenv("NOMAD_NAMESPACE")
        datacenters = System.getenv("NOMAD_DC")
        volumes = [
            { type "csi" name "nf_scratch_volume" path "/scratch"},
            { type "csi" name "nf_reference_volume" path "/references" readOnly true},
            { type "csi" name "nf_projects_volume" path "/projects"},
            "grep 'name:' $projectDir/.nf-core.yml".execute().text.contains('preprocessing') ?: { type "csi" name "shares.isilon.ugent.be-cmgg_upload" path "/media/cmgg_upload" readOnly true },
        ]
    }
}