/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for iGenomes paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines reference genomes using iGenome paths.
    Can be used by any config that customises the base path using:
        $params.igenomes_base / --igenomes_base
----------------------------------------------------------------------------------------
*/

params {
    genomes {
        GRCh38 {
            // Genome reference
            fai                       = "${params.igenomes_base}/Hsapiens/GRCh38/seq/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set.fna.fai"
            fasta                     = "${params.igenomes_base}/Hsapiens/GRCh38/seq/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set.fna"
            dict                      = "${params.igenomes_base}/Hsapiens/GRCh38/seq/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set.dict"
            gtf                       = "${params.igenomes_base}/Hsapiens/GRCh38/seq/GCA_000001405.15_GRCh38_full_analysis_set.refseq_annotation.gtf"

            // Aligner reference
            bowtie2                   = "${params.igenomes_base}/Hsapiens/GRCh38/bowtie2"
            bwamem                    = "${params.igenomes_base}/Hsapiens/GRCh38/bwa"
            bwamem2                   = "${params.igenomes_base}/Hsapiens/GRCh38/bwamem2"
            dragmap                   = "${params.igenomes_base}/Hsapiens/GRCh38/dragmap"
            snap                      = "${params.igenomes_base}/Hsapiens/GRCh38/snapaligner"
            star                      = "${params.igenomes_base}/Hsapiens/GRCh38/star"

            // ROI's
            roi_copgt                 = "${params.igenomes_base}/Hsapiens/GRCh38/regions/CMGG_coPGT-M_analyses_ROI_v1.bed"
            roi_wes                   = "${params.igenomes_base}/Hsapiens/GRCh38/regions/CMGG_WES_analysis_ROI_v7.bed"
            genelists                 = "${params.igenomes_base}/Hsapiens/GRCh38/regions/genelists"

            // Annotation files
            //// VCFanno
            vcfanno_toml              = "${params.cmgg_custom_config_base}/conf/genome/vcfanno/GRCh38_vcfanno_resources.toml"
            vcfanno_resources         = "${params.igenomes_base}/Hsapiens/GRCh38/variation/**/[!AnnotSV][!spliceAI][!EoG][!mastermind]*.{gz,tbi,csi};${params.igenomes_base}/Hsapiens/GRCh38/variation/**/**/*.{gz,tbi,csi};${params.igenomes_base}/Hsapiens/GRCh38/variation/**/**/**/*.{gz,tbi,csi}"

            //// ClinVar
            clinvar                   = "${params.igenomes_base}/Hsapiens/GRCh38/variation/clinvar/clinvar_20251027.vcf.gz"
            clinvar_tbi               = "${params.igenomes_base}/Hsapiens/GRCh38/variation/clinvar/clinvar_20251027.vcf.gz.tbi"

            //// dbSNP
            dbsnp                     = "${params.igenomes_base}/Hsapiens/GRCh38/variation/dbSNP/155/dbsnp-155.vcf.gz"
            dbsnp_tbi                 = "${params.igenomes_base}/Hsapiens/GRCh38/variation/dbSNP/155/dbsnp-155.vcf.gz.tbi"
            dbsnp_csi                 = "${params.igenomes_base}/Hsapiens/GRCh38/variation/dbSNP/155/dbsnp-155.vcf.gz.csi"

            //// dbNSFP
            dbnsfp                    = "${params.igenomes_base}/Hsapiens/GRCh38/variation/dbNSFP-4.3/dbNSFP4.3a_grch38.gz"
            dbnsfp_tbi                = "${params.igenomes_base}/Hsapiens/GRCh38/variation/dbNSFP-4.3/dbNSFP4.3a_grch38.gz.csi"

            //// dbSCSNV
            dbscsnv                   = "${params.igenomes_base}/Hsapiens/GRCh38/variation/dbscSNV-1.1/dbscSNV.txt.gz"
            dbscsnv_tbi               = "${params.igenomes_base}/Hsapiens/GRCh38/variation/dbscSNV-1.1/dbscSNV.txt.gz.tbi"

            //// EOG
            eog                       = "${params.igenomes_base}/Hsapiens/GRCh38/variation/EoG/EOG_202008_sites-only.vcf.gz"
            eog_tbi                   = "${params.igenomes_base}/Hsapiens/GRCh38/variation/EoG/EOG_202008_sites-only.vcf.gz.tbi"

            //// GATK
            strtablefile              = "${params.igenomes_base}/Hsapiens/GRCh38/gatk4/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set.strtable.zip"

            //// gnomAD
            gnomad_genomes            = "${params.igenomes_base}/Hsapiens/GRCh38/variation/gnomAD/genomes/r3.1.2/gnomad_genomes.vcf.gz"
            gnomad_genomes_tbi        = "${params.igenomes_base}/Hsapiens/GRCh38/variation/gnomAD/genomes/r3.1.2/gnomad_genomes.vcf.gz.csi"
            gnomad_exomes             = "${params.igenomes_base}/Hsapiens/GRCh38/variation/gnomAD/exomes/r2.2.1/gnomad_exomes.vcf.gz"
            gnomad_exomes_tbi         = "${params.igenomes_base}/Hsapiens/GRCh38/variation/gnomAD/exomes/r2.2.1/gnomad_exomes.vcf.gz.csi"

            //// MasterMind
            mastermind                = "${params.igenomes_base}/Hsapiens/GRCh38/variation/mastermind/mastermind_cited_variants_reference-2021.10.12-grch38.vcf.gz"
            mastermind_tbi            = "${params.igenomes_base}/Hsapiens/GRCh38/variation/mastermind/mastermind_cited_variants_reference-2021.10.12-grch38.vcf.gz.tbi"

            //// SpliceAI
            spliceai_indel            = "${params.igenomes_base}/Hsapiens/GRCh38/variation/spliceAI/spliceai_scores.raw.indel.hg38.vcf.gz"
            spliceai_indel_tbi        = "${params.igenomes_base}/Hsapiens/GRCh38/variation/spliceAI/spliceai_scores.raw.indel.hg38.vcf.gz.tbi"
            spliceai_snv              = "${params.igenomes_base}/Hsapiens/GRCh38/variation/spliceAI/spliceai_scores.raw.snv.hg38.vcf.gz"
            spliceai_snv_tbi          = "${params.igenomes_base}/Hsapiens/GRCh38/variation/spliceAI/spliceai_scores.raw.snv.hg38.vcf.gz.tbi"

            //// VEP
            vep_cache                 = "${params.igenomes_base}/Hsapiens/GRCh38/vep"

            // Validation reference
            sdf                       = "${params.igenomes_base}/Hsapiens/GRCh38/validation/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set_sdf.tar.gz"

            // ExpansionHunter variant catalogue
            expansionhunter_catalogue = "${params.igenomes_base}/Hsapiens/GRCh38/variation/ExpansionHunter/variant_catalog.json"

            // qDNAseq references
            qdnaseq_male_5kbp         = "${params.igenomes_base}/Hsapiens/GRCh38/qdnaseq/GRCh38.male.5kbp.rda"
            qdnaseq_male_50kbp        = "${params.igenomes_base}/Hsapiens/GRCh38/qdnaseq/GRCh38.male.50kbp.rda"
            qdnaseq_male_100kbp       = "${params.igenomes_base}/Hsapiens/GRCh38/qdnaseq/GRCh38.male.100kbp.rda"
            qdnaseq_male_500kbp       = "${params.igenomes_base}/Hsapiens/GRCh38/qdnaseq/GRCh38.male.500kbp.rda"
            qdnaseq_female_5kbp       = "${params.igenomes_base}/Hsapiens/GRCh38/qdnaseq/GRCh38.female.5kbp.rda"
            qdnaseq_female_50kbp      = "${params.igenomes_base}/Hsapiens/GRCh38/qdnaseq/GRCh38.female.50kbp.rda"
            qdnaseq_female_100kbp     = "${params.igenomes_base}/Hsapiens/GRCh38/qdnaseq/GRCh38.female.100kbp.rda"
            qdnaseq_female_500kbp     = "${params.igenomes_base}/Hsapiens/GRCh38/qdnaseq/GRCh38.female.500kbp.rda"

            // WisecondorX reference
            wisecondorx_reference     = "${params.igenomes_base}/Hsapiens/GRCh38/wisecondorx/WisecondorX_22092023_100kbp.npz"

            // HapMap
            hapmap                    = "${params.igenomes_base}/Hsapiens/GRCh38/variation/hapmap/hapmap_3.3.hg38.vcf.gz"
            hapmap_tbi                = "${params.igenomes_base}/Hsapiens/GRCh38/variation/hapmap/hapmap_3.3.hg38.vcf.gz.tbi"

            // 1000 Genomes
            omni_1000G                = "${params.igenomes_base}/Hsapiens/GRCh38/variation/1000g/omni/1000G_omni2.5.hg38.vcf.gz"
            omni_1000G_tbi            = "${params.igenomes_base}/Hsapiens/GRCh38/variation/1000g/omni/1000G_omni2.5.hg38.vcf.gz.tbi"
            snps_1000G                = "${params.igenomes_base}/Hsapiens/GRCh38/variation/1000g/snps/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
            snps_1000G_tbi            = "${params.igenomes_base}/Hsapiens/GRCh38/variation/1000g/snps/1000G_phase1.snps.high_confidence.hg38.vcf.gz.tbi"
            indels_1000G              = "${params.igenomes_base}/Hsapiens/GRCh38/variation/1000g/indels/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
            indels_1000G_tbi          = "${params.igenomes_base}/Hsapiens/GRCh38/variation/1000g/indels/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz.tbi"

            // known indels
            known_indels              = "${params.igenomes_base}/Hsapiens/GRCh38/variation/known_indels/Homo_sapiens_assembly38.known_indels.vcf.gz"
            known_indels_tbi          = "${params.igenomes_base}/Hsapiens/GRCh38/variation/known_indels/Homo_sapiens_assembly38.known_indels.vcf.gz.tbi"

            // Maxentscan
            maxentscan                = "${params.igenomes_base}/Hsapiens/GRCh38/variation/maxentscan/Maxentscan_2004_04_21"
        }
        'GRCh38-noalt' {
            // Genome reference
            fai         = "${params.igenomes_base}/Hsapiens/GRCh38-noalt/seq/GCA_000001405.15_GRCh38_no_alt_plus_hs38d1_analysis_set.fna.fai"
            fasta       = "${params.igenomes_base}/Hsapiens/GRCh38-noalt/seq/GCA_000001405.15_GRCh38_no_alt_plus_hs38d1_analysis_set.fna.fna"
            dict        = "${params.igenomes_base}/Hsapiens/GRCh38-noalt/seq/GCA_000001405.15_GRCh38_no_alt_plus_hs38d1_analysis_set.fna.dict"

            // Aligner reference
            bowtie2     = "${params.igenomes_base}/Hsapiens/GRCh38-noalt/bowtie2/"
            bwa         = "${params.igenomes_base}/Hsapiens/GRCh38-noalt/bwa/"
            bwamem2     = "${params.igenomes_base}/Hsapiens/GRCh38-noalt/bwamem2/"
            dragmap     = "${params.igenomes_base}/Hsapiens/GRCh38-noalt/dragmap/"
            snap        = "${params.igenomes_base}/Hsapiens/GRCh38-noalt/snapaligner/"

            // WCX references
            wisecondorx = "${params.igenomes_base}/Hsapiens/GRCh38-noalt/wisecondorx/"
        }
        GRCm39 {
            // Genome reference
            fai     = "${params.igenomes_base}/Mmusculus/GRCm39/seq/GCF_000001635.27_GRCm39_genomic.fna.fai"
            fasta   = "${params.igenomes_base}/Mmusculus/GRCm39/seq/GCF_000001635.27_GRCm39_genomic.fna"
            dict    = "${params.igenomes_base}/Mmusculus/GRCm39/seq/GCF_000001635.27_GRCm39_genomic.dict"
            gtf     = "${params.igenomes_base}/Mmusculus/GRCm39/seq/GCF_000001635.27_GRCm39_genomic.gtf"

            // Aligner reference
            bowtie2 = "${params.igenomes_base}/Mmusculus/GRCm39/bowtie2"
            bwamem  = "${params.igenomes_base}/Mmusculus/GRCm39/bwa"
            bwamem2 = "${params.igenomes_base}/Mmusculus/GRCm39/bwamem2"
            dragmap = "${params.igenomes_base}/Mmusculus/GRCm39/dragmap"
            snap    = "${params.igenomes_base}/Mmusculus/GRCm39/snapaligner"
            star    = "${params.igenomes_base}/Mmusculus/GRCm39/star"
        }
        mm10 {
            // Genome reference
            fai     = "${params.igenomes_base}/Mmusculus/mm10/seq/mm10.fa.fai"
            fasta   = "${params.igenomes_base}/Mmusculus/mm10/seq/mm10.fa"
            dict    = "${params.igenomes_base}/Mmusculus/mm10/seq/mm10.dict"
            gtf     = "${params.igenomes_base}/Mmusculus/mm10/seq/Mus_musculus.GRCm38.102.chr.gtf"

            // Aligner reference
            bowtie2 = "${params.igenomes_base}/Mmusculus/mm10/bowtie2"
            bwamem  = "${params.igenomes_base}/Mmusculus/mm10/bwa"
            bwamem2 = "${params.igenomes_base}/Mmusculus/mm10/bwamem2"
            dragmap = "${params.igenomes_base}/Mmusculus/mm10/dragmap"
            snap    = "${params.igenomes_base}/Mmusculus/mm10/snapaligner"
            star    = "${params.igenomes_base}/Mmusculus/mm10/star"
        }
        GRCz11 {
            // Genome reference
            fai     = "${params.igenomes_base}/Drerio/GRCz11/seq/GCF_000002035.6_GRCz11_genomic.fna.fai"
            fasta   = "${params.igenomes_base}/Drerio/GRCz11/seq/GCF_000002035.6_GRCz11_genomic.fna"
            dict    = "${params.igenomes_base}/Drerio/GRCz11/seq/GCF_000002035.6_GRCz11_genomic.dict"
            gtf     = "${params.igenomes_base}/Drerio/GRCz11/seq/GCF_000002035.6_GRCz11_genomic.gtf"

            // Aligner reference
            bowtie2 = "${params.igenomes_base}/Drerio/GRCz11/bowtie2"
            bwamem  = "${params.igenomes_base}/Drerio/GRCz11/bwa"
            bwamem2 = "${params.igenomes_base}/Drerio/GRCz11/bwamem2"
            dragmap = "${params.igenomes_base}/Drerio/GRCz11/dragmap"
            snap    = "${params.igenomes_base}/Drerio/GRCz11/snapaligner"
            star    = "${params.igenomes_base}/Drerio/GRCz11/star"
        }
        // Legacy bcbio references
        hg38 {
            fai                       = "${params.igenomes_base}/Hsapiens/hg38/seq/hg38.fa.fai"
            fasta                     = "${params.igenomes_base}/Hsapiens/hg38/seq/hg38.fa"
            dict                      = "${params.igenomes_base}/Hsapiens/hg38/seq/hg38.dict"
            gtf                       = "${params.igenomes_base}/Hsapiens/hg38/seq/hg38.gtf"

            bowtie2                   = "${params.igenomes_base}/Hsapiens/hg38/bowtie2"
            bwamem                    = "${params.igenomes_base}/Hsapiens/hg38/bwa"
            bwamem2                   = "${params.igenomes_base}/Hsapiens/hg38/bwamem2"
            dragmap                   = "${params.igenomes_base}/Hsapiens/hg38/dragmap"
            snap                      = "${params.igenomes_base}/Hsapiens/hg38/snapaligner"
            star                      = "${params.igenomes_base}/Hsapiens/hg38/star"

            // Annotation files
            //// ClinVar
            clinvar                   = "${params.igenomes_base}/Hsapiens/hg38/variation/clinvar.vcf.gz"
            clinvar_tbi               = "${params.igenomes_base}/Hsapiens/hg38/variation/clinvar.vcf.gz.tbi"

            //// dbSNP
            dbsnp                     = "${params.igenomes_base}/Hsapiens/hg38/variation/dbsnp-153.vcf.gz"
            dbsnp_tbi                 = "${params.igenomes_base}/Hsapiens/hg38/variation/dbsnp-153.vcf.gz.tbi"
            dbsnp_csi                 = "${params.igenomes_base}/Hsapiens/hg38/variation/dbsnp-153.vcf.gz.csi"

            //// dbNSFP
            dbnsfp                    = "${params.igenomes_base}/Hsapiens/hg38/variation/dbNSFP.txt.gz"
            dbnsfp_tbi                = "${params.igenomes_base}/Hsapiens/hg38/variation/dbNSFP.txt.gz.tbi"

            //// dbSCSNV
            dbscsnv                   = "${params.igenomes_base}/Hsapiens/hg38/variation/dbscSNV.txt.gz"
            dbscsnv_tbi               = "${params.igenomes_base}/Hsapiens/hg38/variation/dbscSNV.txt.gz.tbi"

            //// EOG
            eog                       = "${params.igenomes_base}/Hsapiens/hg38/variation/EOG_202008_sites-only.vcf.gz"
            eog_tbi                   = "${params.igenomes_base}/Hsapiens/hg38/variation/EOG_202008_sites-only.vcf.gz.tbi"

            //// gnomAD
            gnomad_exomes             = "${params.igenomes_base}/Hsapiens/hg38/variation/gnomad_exome.vcf.gz"
            gnomad_exomes_tbi         = "${params.igenomes_base}/Hsapiens/hg38/variation/gnomad_exome.vcf.gz.tbi"

            //// MasterMind
            mastermind                = "${params.igenomes_base}/Hsapiens/hg38/variation/Mastermind/mastermind_cited_variants_reference-2022.01.06-grch38.vcf.gz"
            mastermind_tbi            = "${params.igenomes_base}/Hsapiens/hg38/variation/Mastermind/mastermind_cited_variants_reference-2022.01.06-grch38.vcf.gz.tbi"

            //// SpliceAI
            spliceai_indel            = "${params.igenomes_base}/Hsapiens/hg38/variation/spliceAI/spliceai_scores.raw.indel.hg38.vcf.gz"
            spliceai_indel_tbi        = "${params.igenomes_base}/Hsapiens/hg38/variation/spliceAI/spliceai_scores.raw.indel.hg38.vcf.gz.tbi"
            spliceai_snv              = "${params.igenomes_base}/Hsapiens/hg38/variation/spliceAI/spliceai_scores.raw.snv.hg38.vcf.gz"
            spliceai_snv_tbi          = "${params.igenomes_base}/Hsapiens/hg38/variation/spliceAI/spliceai_scores.raw.snv.hg38.vcf.gz.tbi"

            //// VEP
            vep_cache                 = "${params.igenomes_base}/Hsapiens/hg38/vep"

            // ExpansionHunter variant catalogue
            expansionhunter_catalogue = "${params.igenomes_base}/Hsapiens/hg38/variation/ExpansionHunter/variant_catalog.json"
        }
        'hg38-noalt' {
            fai     = "${params.igenomes_base}/Hsapiens/hg38-noalt/seq/hg38-noalt.fa.fai"
            fasta   = "${params.igenomes_base}/Hsapiens/hg38-noalt/seq/hg38-noalt.fa"
            dict    = "${params.igenomes_base}/Hsapiens/hg38-noalt/seq/hg38-noalt.dict"
            gtf     = "${params.igenomes_base}/Hsapiens/hg38-noalt/seq/hg38-noalt.gtf"

            bowtie2 = "${params.igenomes_base}/Hsapiens/hg38-noalt/bowtie2"
            bwamem  = "${params.igenomes_base}/Hsapiens/hg38-noalt/bwa"
            bwamem2 = "${params.igenomes_base}/Hsapiens/hg38-noalt/bwamem2"
            dragmap = "${params.igenomes_base}/Hsapiens/hg38-noalt/dragmap"
            snap    = "${params.igenomes_base}/Hsapiens/hg38-noalt/snapaligner"
            star    = "${params.igenomes_base}/Hsapiens/hg38-noalt/star"
        }
    }
}
