/*
========================================================================================
    Nextflow config file for coPGT-M runs
========================================================================================
*/

params {
    callers                 = "haplotypecaller"
    only_call               = true
    roi                     = params.containsKey('genomes_base') ? "${params.genomes_base}/Hsapiens/GRCh38/regions/coPGT-M/coPGT-M_v1.bed" : "${params.igenomes_base}/Hsapiens/GRCh38/regions/coPGT-M/coPGT-M_v1.bed"
    scatter_count           = 8
    filter                  = true
    skip_merged_cram_output = true
}
