/*
========================================================================================
    Nextflow config file for SCID_NBS runs
========================================================================================
*/

params {
    disable_automap = true
    disable_updio = true
    roi = "${params.igenomes_base}/Hsapiens/GRCh38/regions/NBS/SCID_NBS_ROI_v1.bed"
}
