/*
========================================================================================
    Nextflow config file for SeqCap runs
========================================================================================
*/

params {
    callers       = "vardict"
    scatter_count = 5
    filter        = true
    normalize     = true
    only_pass     = true
}

process {
    withName: PROCESS_BEDS {
        memory = 64.GB
    }
}
