/*
========================================================================================
    Nextflow config file for WGS runs
========================================================================================
*/

// Empty profile, as smallvariants defaults are geared towards WGS. This file is included for consistency and to allow for WGS-specific overrides in the future if needed.
params {
}
