/*
========================================================================================
    Nextflow config file for WGS runs
========================================================================================
*/

params {
    updio_regions = params.containsKey('genomes_base') ? "${params.genomes_base}/Hsapiens/GRCh38/regions/CMGG_WES_analysis_ROI_v7.bed" : "${params.igenomes_base}/Hsapiens/GRCh38/regions/CMGG_WES_analysis_ROI_v7.bed"
}
