/*
========================================================================================
    Nextflow config file for WGS runs
========================================================================================
*/

// Empty profile, as smallvariants defaults are geared towards WGS. This file is included for consistency and to allow for WGS-specific overrides in the future if needed.
params {
    updio_regions = params.containsKey('genomes_base') ? "${params.genomes_base}/Hsapiens/GRCh38/regions/CMGG_WES_analysis_ROI_v7.bed" : "${params.igenomes_base}/Hsapiens/GRCh38/regions/CMGG_WES_analysis_ROI_v7.bed"
}
